@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "normalize";
@import "slick";

.content {
  @include outer-container;
  height: 800px;
  background: silver;
  
  .primary-content {
    @include span-columns(6);
    height: 800px;
	  background: gray;
  }
  
  .sidebar-content {
    @include span-columns(6);
    height: 800px;
	  background: red;
	  @include omega(); 
  }
}